/* Xl Layout: 1280px. */
@media (min-width: 1200px) and (max-width: 1500px) { 
.container{
	max-width:1250px;
}
    
}/* Medium Layout: 1280px. */
@media (min-width: 992px) and (max-width: 1200px) { 
.main-menu ul li {
	margin-right: 21px;
}
.header-right ul li {
	padding: 35px 0 35px 30px;
} 
.single-slider{
	height:530px
}   
}
/* Tablet & mobile Layout: 768px. */
@media (min-width:768px) and (max-width: 991px) { 
.single-slider{
	height:430px
}
.footer-area .footer-top .footer-widget{
	padding-bottom:50px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.header-right ul li ul.minicart {
	padding: 25px;
}
}
/* Mobile Layout: 320px. */
@media (max-width: 767px) { 

.header-right ul li:first-child {
	padding-left:0;
}
.header-right ul li ul.minicart {
	padding: 10px;
	width: 310px;
}   
.header-right ul li .search-form {
	width: 290px;
}  
.slider-area{
	margin-top:40px;
} 
.single-slider{
	height:320px
}
.slider-text h2 {
	font-size: 23px;
}
.slider-text {
	margin-left: 10px;
}
.product-area{
	padding:100px 0;
}
.product-active .owl-nav::before {
	width:0;
    height: 0;
}
.slider-active .owl-nav {
	right: 10px;
	bottom: 30px;
}
.slider-text p {
	margin-bottom: 20px;
	line-height:17px;
}
.product-area {
	padding: 50px 0;
}
.product-tab ul li.nav-item {
	margin: 20px 20px 0 0;
}
.banner-area {
	padding-bottom: 50px;
}
.banner-area .banner {
	padding: 80px 10px;
}
.banner-area .banner h2 {
	font-size: 30px;
}
.banner-area .banner h6 {
	font-size: 20px;
}
.subscribe-area{
	padding:80px 0;
}
.subscribe-wrapper form > input[type="email"] {
	width: 100%;
	margin-bottom: 15px;
}
.subscribe-wrapper p {
	margin-bottom: 30px;
}
.brand-area{
	padding: 80px 0;
}
.brand-area .brand-active{
	padding-bottom: 80px;
}
.footer-area{
	padding-top:0;
}
.footer-area .footer-top .footer-widget {
	margin-bottom: 40px;
}
.footer-top .footer-link li a {
	padding: 5px 0;
}
.footer-bottom .footer-menu{
	margin-bottom: 20px;
}
.footer-bottom .footer-menu ul li{
	margin-right: 10px;
}
.footer-bottom .footer-menu ul li a {
	padding: 10px 0;
}
.footer-bottom .social-link a {
	padding-left: 10px;
}
}